{
  "presets": ["env", "react", "typescript"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-typescript"
  ],
  "ignore": [
    "**/*.spec.js",
    "**/*.test.js"
  ]
}
